# Virtual environment files
updates/
updates/
.updates/
.venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# IDE-specific files
.vscode/
.idea/

# Dependency directories
node_modules/
*/__pycache__/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db